/* Main Style */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
  margin: 0px;
  padding: 0px;
}

.container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom: 50px;
  text-align: center;
}


 /* Banner Name on Top */
.name {
font-size:3em;
text-transform:uppercase;
text-align:center;
border-bottom: 1px solid #33485e;
width: 60%;
min-width: 300px;
margin: 0 auto; center;
}

/* My Title */
.student {
font-size:1.5em;
text-transform:uppercase;
color:#33485e;
text-align:center;
margin-top: 20px;
margin: 0 auto;
font-weight: 600;
}

/* Section Titles */
.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:70%;
  min-width:300px;
}

/* Position Titles */
.jobtitle {
  font-size:1.5em;
  font-weight:600;
}

/* Company Names */
.organization {
  font-size:1.25em;
  font-weight:400
}

/* Dates */
.date {
  font-size:1.5em;
  font-weight:400;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.description {
  margin-top:10px;
  margin-bottom:10px;
  margin: 0 auto;
}

/* Contact Information */
.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: center;
}

.degrees {
  margin-top: 5px;
  margin: 0 auto;
}

.do {
  margin-top: 5px;
  margin: 0 auto;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
