.BODY {
  text-align:left;
  margin: 0 auto;
  width:900px;
  font-family:Helvetica,arial,sans-serif;
  font-size:12px;
}

/* Washington Post Title */
.byline {
font-family:sans-serif,helvetica;
font-size:16px;
font-style: italic;
font-weight: 600;
margin: 0 auto;
width:900px;
}

#content {
text-align: left;
font-family:Helvetica,arial,sans-serif;
font-size:12px;
margin: 0 auto;
width:900px;
}

/* Headline */
#headline {
font-family:serif,helvetica;
font-size: 26px;
font-weight:bold;
margin: 0 auto;
width:900px;
}

.p {
text-align:left;
margin: 0 auto;
width:900px;
font-family:Helvetica,arial,sans-serif;
font-size:12px;
}


#authors {
font-family: sans-serif,helvetica;
font-size: 18px;
font-weight: 600;
margin: 0 auto;
width:900px;
}

/* Date */
#date {
font-family:sans-serif,helvetica;
font-size:16px;
font-style:italic;
margin: 0 auto;
width:900px;
}

/* subheads */
#subheads {
font-family:sans-serif,helvetica;
font-size:16px;
font-weight:600;
}

/* burners */
#burners {
font-family:helvetica,arial,sans-serif;
font-size:12px;
font-weight:bolder;
font-style: italic;
}

/*questions */
#questions {
font-family:helvetica,arial,sans-serif;
font-size:13px;
font-style:italic;
}

#img-container {
text-align:center;
display:block;
}

#related {
font-weight: 600;
font-size: 16px;
}

#references {
text-align:left;
}

figcaption {
font-style:italic;
font-size: 13px;
font-weight:500;
}

blockquote {
font:16/24px helvetica,sans-serif;
font-weight: bolder;
text-align: center;
font-style:italic;
margin-top:20px;
margin-bottom:20px;
color:#900D70;
border-top:6px solid #900D70;
border-bottom:6px solid #900D70;
font-size:16px;

}
